* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    font-size: 1.6rem;
    font-family: 'Helvetica Neue', sans-serif;
    background: repeating-radial-gradient(
        #bf6597 10%,
        #5c2141 50%,
        #cc12c0 100%
    );
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

.header-1 {
    background: linear-gradient(
        45deg,
        #bf6597 10%,
        #5c2141 50%,
        #cc12c0 90%
    );
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: -15rem;
    color: black;
    text-shadow: white 0 -.1rem;
    border-bottom: .5rem solid black;
}

.main-heading {
    padding-bottom: 1rem;
    font-size: 4.5rem;
}

.header-1 li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 800;
}

.container {
    margin: 15rem auto 2.5rem auto;
    padding: 2.5rem;
    width: 35%;
    border: 1rem solid black;
    background: repeating-radial-gradient(#9959ab, #2ec972 100%, #59a9ab 10%);
    text-align: center;
}

.smaller {
    width: 50%;
    margin: 0 auto;
}

.container img {
    width: 50rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: .5rem solid black;
}

.container h1 {
    font-size: 4rem;
    text-shadow: white 0 -.1rem;
}

.container h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-shadow: white 0 -.1rem;
}

.container p,
li {
    font-size: 2rem;
}

.container ul {
    width: 35%;
    display: block;
    margin: 0 auto;
    list-style-position: inside;
    text-align: center;
    list-style-image: linear-gradient(
        black,
        #1a1019
    );
}

.container ol {
    width: 35%;
    display: block;
    margin: 0 auto;
    list-style-position: inside;
    text-align: center;
    list-style-type: cjk-heavenly-stem;
}

.container li {
    margin: 1rem 1rem;
}

.container section {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

